<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.duff.ddo.gui"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://org.duff.ddo.gui/org.duff.ddo.gui.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="org.duff.ddo.gui">
         </property>
      </product>
   </extension>

</plugin>
